<!-- This will be the entrance page (contain header, about us, input field and some instructions) -->
<html>
  <head>
    <title>
      Hangeul Subtitle Converter
    </title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row">

          <!-- Logo -->
          <div class="col-12 col-md-4 header-logo-container">
            {% load static %}

            <div class="header-logo-ver-cont">
              <img class="header-logo-img" src="{% static 'images/header-logo.png' %}" alt="Hangeul Subtitle Converter Logo" />
            </div>
          </div>

          <!-- Navigation -->
          <div class="col-12 col-md-8 header-nav-container">
            <div class="header-nav-ver-cont">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active-tab" href="/">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Content part -->
    <div class="index-main-container container-fluid">
      <div class="row">
        <!-- Left section contains some detail about the apps -->
        <div class="index-left-main-container col-12 col-md-6">
          <!-- Introduce the app -->
          <h1>What is Hangeul Subtitle Converter?</h1>
          <p>
            Hangeul Subtitle Converter is an app which let you watch Korean youtube video with Korean Romanization subtitle.
            This app works by converting Hangeul subtitle into Korean Romanization subtitle.
            When you play the video, instead of showing Hangeul subtitle, it will show Korean Romanization subtitle.
          </p>

          <!-- Why use Hangeul Subtitle Converter -->
          <h1>Why Use Hangeul Subtitle Converter?</h1>
          <p>
            As we know, many Korean youtube videos have Korean subtitle, but only in Hangeul version.
            Of course, to be able to read it, you need to know Hangeul symbols first.
            Sometimes, you want to just read it, for example, if it a song and you want to sing along the video.
            You then end up opening new tab to search for the lyrics in Romanization version.
            Therefore, you cannot enjoy the video, since you focus on reading the lyrics in other tab.
            What a nightmare! &#128577;
            Fortunately, Hangeul Subtitle Converter come to the rescue! &#128522;
            You don't need to search for the lyrics anymore.
            Instead, this app will play your video while replacing the Hangeul subtitle verison into Romanization version.
            So now, you can sing along the video while enjoying watching the video. &#128526;
          </p>
        </div>

        <!-- Right section contains some instructions and limitations, and also input box for youtube video URL -->
        <div class="index-right-main-container col-12 col-md-6">
          <!-- What To Do? -->
          <h1>What to Do?</h1>
          <p>
            Go to youtube first and find yourself a video that you want to watch.
            Copy the link (either full URL or just the video ID, both will work) and then paste it to the input box below.
            Click 'Watch Now!' and enjoy the video!
            <br/>
            <br/>
            <span>Note</span>
            <br />
            You need video with Korean subtitle to make it works (of course, if not, what's the point of using this app? &#128518; &nbsp;).
            The subtitle need to be uploaded by author of the video, not the one automatically generated by youtube.
          </p>

          <div class="index-input-yt-url-container">
            <!-- Simple form to input youtube video URL -->
            <form method="POST" action="{% url 'hangeul_subtitle_converter_apps:fetch_and_convert' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="text" id="yt_url" name="yt_url" class="index-input-box" placeholder="Ex: https://www.youtube.com/watch?v=CGnc553-ttg or just CGnc553-ttg">
              <button type="submit" class="index-watch-now-btn btn btn-primary">
                Watch Now!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <span class="footer-production">2021 PRODUCTION</span>
      <span class="footer-by">By Garry Ariel</span>
    </footer>
  </body>
</html>
